.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.aux
*.lof
*.log
*.lot
*.out
*.gz
*.pdf
*.toc
*.Rproj
code/data/glottolog-cldf/**
code/data/dplace-cldf/**
code/output/plots/*
code/output/results*
latex/main.tex.bak
**groundhog_librari**
